.mainDiv {
  border: 1px solid black transparent;
}
.allHeading {
  color: white;
  position: absolute;
  margin-top: 30px;
  left: 37%;
  width: 25%;
  border: 1px solid cyan transparent;
}
.button {
  border: 1px solid rgb(163, 160, 160);
  padding: 5px;
  border-radius: 100px;
  margin-top: 10px;
  color: rgb(163, 160, 160);
  margin-left: 33%;
  font-size: 14px;
}
.pro {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  color: black;
}
.beyond {
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  color: black;
}
.lmbm {
  text-align: center;
  font-size: 25px;
  color: rgb(86, 86, 255);
}

@media screen and (min-width: 10px) {
  .allHeading {
    margin-top: 10px;
    left: 31%;
    width: 40%;
  }
  .pro {
    font-size: 12px;
  }
  .beyond {
    font-size: 10px;
  }
  .button {
    display: none;
  }
  .lmbm {
    font-size: 8px;
    font-weight: bold;
  }
}



@media screen and (min-width: 500px) {
  .allHeading {
    margin-top: 10px;
    left: 31%;
    width: 40%;
  }
  .pro {
    font-size: 24px;
  }
  .beyond {
    font-size: 16px;
  }
  .button {
    display: none;
  }
  .lmbm {
    font-size: 14px;
    font-weight: bold;
  }
}

@media screen and (min-width: 1400px) {
  .allHeading {
    margin-top: 30px;
    left: 37%;
    width: 25%;
  }
  .pro {
    font-size: 50px;
  }
  .beyond {
    font-size: 30px;
  }
  .button {
    border: 1px solid rgb(163, 160, 160);
    padding: 5px;
    border-radius: 100px;
    margin-top: 10px;
    color: rgb(163, 160, 160);
    margin-left: 33%;
    font-size: 14px;
  }
  .lmbm {
    text-align: center;
    font-size: 25px;
    color: rgb(86, 86, 255);
  }
    .button{
    display: flex;
  }
}
