.mainDiv {
  background-color: rgba(24, 24, 24, 0.948);
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
}
.subMainDiv {
  width: 65%;
  border: 1px solid cyan transparent;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 14px;
}
.logo {
  margin-top: auto;
  margin-bottom: auto;
}
.optionLink {
  text-decoration: none;
  color: rgb(196, 194, 194);
  font-size: 12px;
  font-weight: 400;
  padding: 3px;
}
.optionLink1 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  padding: 3px;
}
.mainDownNav {
  background-color: rgb(45, 45, 47);
  /* margin-top: -3px; */
}
.downNav {
  width: 60%;
  margin: auto;
  border: 1px solid cyan transparent;
  font-size: 13px;
  font-weight: 400;
  padding: 8px;
}
.shopLink {
  color: rgb(127, 127, 232);
  text-decoration: none;
}
/* dropdown */
.drop {
  display: none;
}
.store:hover {
  display: initial;
}
.logo {
  width: 24px;
  margin-top: 3px;
}

@media screen and (min-width: 10px) {
  .name{
    width: 70px;
  }
  .optionLink1 {
    font-size: 6px;
  }
}
@media screen and (min-width: 475px) {
  .optionLink1 {
    font-size: 10px;
  }
  .label {
    font-size: 8px;
  }
  .logo {
    width: 12px;
  }
  .searchInput {
    display: none;
  }
  .searchLogo {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
.logo {
  margin-top: auto;
  margin-bottom: auto;
  width: 24px;
  margin-top: 3px;
}

.optionLink {
  text-decoration: none;
  color: rgb(196, 194, 194);
  font-size: 12px;
  font-weight: 400;
  padding: 3px;
}
  .searchInput {
    display: flex;
  }
  .searchLogo {
    display: flex;
  }
  .label {
    font-size: 16px;
  }
   .name{
    width: 80px;
  }
}
