.mainDiv{
    width: 30%;
    margin: auto;
    /* border: 1px solid; */
    margin-top: 30px;
    margin-bottom: 50px;
}

@media screen and (max-width: 820px){
    .loginButton{
        font-size: 10px;
    }
    .mainDiv{
        width: 60%;
    }
}

@media screen and (max-width: 376px){
    .loginButton{
        font-size: 10px;
    }
    .mainDiv{
        width: 90%;
    }
}