.mainDiv {
  border: 1px solid black transparent;
}

.allHeading {
  color: white;
  position: absolute;
  margin-top: 40%;
  left: 37%;
  width: 30%;
  border: 1px solid cyan transparent;
}
.button {
  border: 1px solid white;
  padding: 5px;
  border-radius: 100px;
  margin-top: 10px;
  color: black;
  margin-left: 33%;
  font-size: 16px;
  background: white;
}
.video {
  height: 860px;
}
